<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="sk.garaj.spring.tutorial.app.Person">
		<constructor-arg value="666" type="int" name="id"/>
		<constructor-arg value="Lucifer" type="String" name="name"/>
		<property name="taxId" value="666666"/>
	</bean>

</beans>
